.container-judul{
    height: 155px; 
    margin-top: 50px;
    font-weight: 500;
    text-align: center;
}

/* SECTION 1 */
.container-gambar{
    width: 80%; 
    height: 600px;
    margin-top: 88px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 30px;
}

.jarak-header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 28px;
    font-weight: 300;
    text-align: justify;
    width: 70%;
}

/* CONTAINER FOTO TEAM */
.container-team {
    width: 100%;
    background-color: #E8F4FA;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.judul-team {
    font-size: 75px;
    color: #1090CB;
    text-align: center;
}

.row {
    display: flex;
    justify-content:center;
    transform: translateY(-50px);
}

/* CARD FOTO TEAM */
.card {
    background-color: white;
    margin: 40px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.card h5 {
    margin-bottom: 0;
}

.card p {
    margin-top: 8px;
}

.container-foto {
    width: 200px;
    height:250px;
    display: flex;
    align-items: flex-end;
}

.container-foto img {
    max-width: 100%;
    height: auto;
}



/* ???? */
.vector-bintang {
    height: 68.19px; 
    width: 68.88px; 
    position: absolute; 
    right: 0; 
    top: 0;
    transform: translateY(-23px) translateX(25px);
}

.vector-judul {
    height: 611px; 
    width: 5vw;
    position: absolute;
    left: 220px;
    z-index: 0;
    transform: translateY(65px) translateX(-220px);
}

.vector-judul2 {
    height: 611px;
    width: 6vw;
    position: absolute;
    top: 462px;
    right: -222px;
    z-index: 0;
    transform: translateY(65px) translateX(-220px);
}

/* Section Gambar*/


/* Section Materi */
.container-materi {
    width: 90%;
    margin: 0 auto;
    height: 370px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-materi h1 {
    color: #1090CB; 
    font-size: 50px;
}

.container-materi p {
    font-size: 28px;
}
body {
    background-image: url(downloads/nutriguide/image/protein);
}
