.container-chat {
    width: 988px; 
    height: 677px; 
    background-color: #E7F4FA;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 66px;
}

.container-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container-input p {
    font-size: 32px;
    font-weight: 500;
    width: 332px;
}

.container-input input {
    width: 437px;
    height: 44px;
    background-color: white;
    border-radius: 44px;
    padding-left: 10px;
    padding-right: 10px;
}

.container-input textarea {
    width: 437px;
    height: 110px;
    background-color: white;
    border-radius: 22px;
    padding-left: 10px;
    margin: 0;
    resize: none; 
    padding-top: 10px; 
    padding-right:10px;
}

.container-input select {
    width: 437px;
    height: 44px;
    background-color: white;
    border-radius: 44px;
    padding-left: 10px;
    border: none;
    -webkit-appearance: none; /* Remove default arrow icon on Safari */
    appearance: none; /* Remove default arrow icon on other browsers */
}

.container-input select::after {
    content: '\25BC'; /* Unicode character for down arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.container-button {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    margin-top: 150px;
}

.button-reset {
    width: 214px;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: #D9D9D9;
    border-radius: 44px;
    font-weight: bold;
    font-size: 20px;
    position: absolute; top: 600px; left: 55px;
}

.button-send {
    width: 214px;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: #D9D9D9;
    border-radius: 44px;
    font-weight: bold;
    font-size: 20px;
    position: absolute; top: 600px; left: 695px;
}