/* NAVBAR */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 91px;
    width: 100%;
    border-bottom: 1px solid #c4c4c4;
}

.nav-flex-judul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.vertical-line {
    border-left: 2px solid #1090CB;
    height: 45px;
    margin-left: 38px;
  }

.nav-flex-atribut {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 350px;
    margin-left: 53px;
}

.nav-flex-judul a {
    font-size: 16px;
}

.navbar button {
    margin-right: 56px;
}

.navbar a button {
    width: 100px;
    height: 38px;
    background-color: #1090CB;
    border-radius: 6px;
    color: white;
}

.active {
    color: #1090CB;
}

/* Footer */
footer {
    height: 398px; 
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-konten {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-sosmed {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top:115px;
}

footer p {
    font-size: 16px;
    color: #515151;
}

footer h1 {
    font-size:17px;
}

