/* Overlay styles */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

/* Popup styles */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
    z-index: 2;
}

.container-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: cennter;
}

.form-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.container-signup {
  width: 988px; 
  height: 583px; 
  background-color: #E8F4FA;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  border-radius: 66px;
}

.container-signup-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 781px;
    height: 40px;
}

.container-signup-input p {
    font-size: 20px;
}

.input-signup {
    width: 436px; 
    height: 39px; 
    background-color: white; 
    border-radius: 44px; 
    padding-left: 20px;
    padding-right: 20px;
}

.container-signup-button {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between;
    margin-top: 120px;
    width: 712px;
}

.button-reset {
    width: 214px;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: white;
    border-radius: 44px;
    font-weight: bold;
    font-size: 20px;
}

.button-reset:hover {
    background-color: #f0f0f0; /* Change the background color to a slightly grey shade */
}

.error-messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: red;
    font-size: 12px;
    position: absolute;
    transform: translateY(220px);

}

.error-message {
    margin-top: 5px; /* Add spacing between error messages */
}