/*navbar*/
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 91px;
    width: 100%;
}

.nav-flex-judul {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 29px;
    font-weight: bold;

}

.vertical-line {
    border-left: 2px solid #1090cb;
    height: 45px;
    margin-left: 38px;
}

.nav-flex-atribut {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 350px;
    margin-left: 53px;
}

.judul-symptom {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 64px;
    font-weight: normal;
    text-shadow: gray;
    
    
  
}
.container-judul{
    width: 1153px; height: 178px; background-color: #DBE6EB;
    border-radius: 44px;
    justify-content: center;
    text-align: center;
    margin-left: 444px;
    margin-top: 111px;
}
.container-materi{
    width: 1888px;
    height: 1034px;
    background-color:#E8F4FA;
    justify-content: center;
    margin-top: 444px;
}

.isi-materi{
    margin-bottom: 111px;
    margin-left: 111px;
    margin-top: 222px;
    padding-top: 222px;
    font-weight: normal;
}





